<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>{{message}}</h2>
<div class="button">
    <button class="button" (click)="doClick()">Ask Uyên Chi</button>
</div>
<div *ngIf="contacts">
    <div *ngFor="let contact of contacts">
        <h3>{{contact.name}}</h3>
        <img *ngIf="contact.avatar?.url" [src]="contact.avatar?.url" alt="">
    </div>
</div>
<div>
    <button (click)="changeTap(1)">Tap1</button>
    <button (click)="changeTap(2)">Tap2</button>
    <button (click)="changeTap(3)">Tap3</button>


</div> -->
<app-project></app-project>
<!-- <app-best-project></app-best-project> -->
<!-- <app-login></app-login> -->
