<header>
    <div class="nk-header">
        <div class="nk-menu">
            <div class="container">
                <div class="row menu-nav">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
                        <div class="nav justify-content-start logo-img">
                            <a href="#">
                                <img src="../assets/images/logo-light.svg" alt="logo.svg">
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 menu-right">
                        <ul class="nav justify-content-end">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">WordPress Theme</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <section class="header-background">
        <div class="header-background-color">
            <div class="container ">
                <div class="row title-t justify-content-center text-center">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-subtitle">
                        <h2 class="clorWhite">New Branding Agency</h2>
                        <h1 class="clorWhite">We are about to change the way
                            <br>
                            <em class="tutu clorWhite">you publish on the web</em>
                        </h1>

                        <br>
                        <a href="#" class="dowload">
                            <button type="button" class="btn btn-dark">Free Download</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="angle-down">
        <a href="">
            <i class="fa fa-angle-down"></i>
        </a>
    </div> -->

</header>
<!-- ------------------------------------------ END HEADER -->

<div class="bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                <h2 class="display-4">About Our Agency</h2>
                <p>We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
                </p>
                <img src="../assets/images/about-me-signature.png" alt="signature">

            </div>
        </div>

    </div>
</div>




<!-- --------------------------- -->
<div class="bg-dark1 text-white">
    <div class="ft-h-100"></div>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="feature">
                    <div class="ft-icon">
                        <span class="pe-7s-portfolio"></span>
                    </div>
                    <div class="ft-content">
                        <div class="ft-content-number">548</div>
                        <div class="ft-content-text">projects completed</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="feature">
                    <div class="ft-icon">
                        <span class="pe-7s-clock"></span>
                    </div>
                    <div class="ft-content">
                        <div class="ft-content-number">1465</div>
                        <div class="ft-content-text">working hours</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="feature">
                    <div class="ft-icon">
                        <span class="pe-7s-star"></span>
                    </div>
                    <div class="ft-content">
                        <div class="ft-content-number">612</div>
                        <div class="ft-content-text">positive feedbacks</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="feature">
                    <div class="ft-icon">
                        <span class="pe-7s-like"></span>
                    </div>
                    <div class="ft-content">
                        <div class="ft-content-number">735</div>
                        <div class="ft-content-text">happy clients</div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="ft-h-100"></div>

</div>



<!-- ---------------------------------------- -->
<div class="best-projects text-center">


    <div class="project">
        <div class="container">
            <h2 class="project-h2">Best Project</h2>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p class="project-p">Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus. Vestibulum gravida volutpat ipsum non ultrices.
                    </p>
                </div>
            </div>
            <div class="row project-list">
                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">
                    <a href="#" class="project-item-link"></a>
                    <div class="project-item-images item-image-1 "> </div>
                    <div class="project-item-text text-center">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>

                        </div>
                    </div>
                </div>

                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item">

                    <a href="#" class="project-item-link"></a>
                    <div class="project-item-images item-image-2 "> </div>
                    <div class="project-item-text text-center">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>


                        </div>
                    </div>
                </div>

                <div class=" col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">

                    <a href="# " class="project-item-link "></a>
                    <div class="project-item-images item-image-3 "> </div>
                    <div class="project-item-text text-center ">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>

                        </div>
                    </div>
                </div>

                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">

                    <a href="# " class="project-item-link "></a>
                    <div class="project-item-images item-image-4 "> </div>
                    <div class="project-item-text text-center ">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>

                        </div>
                    </div>
                </div>

                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">

                    <a href="# " class="project-item-link "></a>
                    <div class="project-item-images item-image-5 "> </div>
                    <div class="project-item-text text-center ">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>


                        </div>
                    </div>
                </div>

                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">

                    <a href="# " class="project-item-link "></a>
                    <div class="project-item-images item-image-6 "> </div>
                    <div class="project-item-text text-center ">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>

                        </div>
                    </div>
                </div>

                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">

                    <a href="# " class="project-item-link "></a>
                    <div class="project-item-images item-image-7 "> </div>
                    <div class="project-item-text text-center ">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>


                        </div>
                    </div>
                </div>

                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">

                    <a href="# " class="project-item-link "></a>
                    <div class="project-item-images item-image-8 "> </div>
                    <div class="project-item-text text-center ">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>


                        </div>
                    </div>
                </div>

                <div class="col-12-xs col-sm-12 col-md-6 col-lg-4 project-item ">

                    <a href="# " class="project-item-link "></a>
                    <div class="project-item-images item-image-9 "> </div>
                    <div class="project-item-text text-center ">
                        <div>
                            <h2 class="project-item-text-h2">Vinyl Record</h2>
                            <div class="project-item-text-catelogy">Mockup</div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bp-h-95"></div>
    </div>

</div>

<!-- --------------------------------------------- -->
<div class="bg-dark2 review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-center">
                <p class="review-text-1">" Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap. "</p>
                <p class="review-text-2">Michael Hopkins</p>
            </div>
        </div>
    </div>
</div>



<!-- ----------------------------------------------------- -->
<div class="carosel">
    <div class="container">
        <div class="partner-carosel">
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-1-dark.png" alt="partner1">
            </div>
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-2-dark.png" alt="partner2">
            </div>
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-3-dark.png" alt="partner3">
            </div>
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-4-dark.png" alt="partner4">
            </div>
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-5-dark.png" alt="partner5">
            </div>
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-6-dark.png" alt="partner5">
            </div>
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-7-dark.png" alt="partner5">
            </div>
            <div class="partner-carosel-image">
                <img src="../assets/images/partner-logo-8-dark.png" alt="partner5">
            </div>




        </div>
    </div>
</div>
<!-- End Partner -------------------------------------------------------------------- -->
<!-- Start Blogs ----------------------------------------------------------------- -->
<div class="blogs">
    <div class="blog-h-85"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                <h2 class="blog-h2">Latest Blog</h2>
                <div class="blog-p">
                    <p>Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus. Vestibulum gravida volutpat ipsum non ultrices.
                    </p>
                </div>
            </div>
        </div>



    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div>
                            <a><img src="../assets/images/post-4-mid.jpg" alt=""></a>
                            <div class="blog-post-button">
                                <a>DESIGN</a>
                            </div>
                        </div>
                    </div>

                    <div class="blog-post-body">
                        <h5 class="blog-post-title">
                            <a href="">Are you doing the right way?</a>
                        </h5>
                        <div class="blog-post-date">August 14, 2016</div>
                        <div class="blog-post-text">
                            <p>Which all, morning isn't. Female and own living dry, and morning lesser first he stars under years thing./p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div>
                            <a><img src="../assets/images/post-4-mid.jpg" alt=""></a>
                            <div class="blog-post-button">
                                <a>DESIGN</a>
                            </div>
                        </div>
                    </div>

                    <div class="blog-post-body">
                        <h5 class="blog-post-title">
                            <a href="">Are you doing the right way?</a>
                        </h5>
                        <div class="blog-post-date">August 14, 2016</div>
                        <div class="blog-post-text">
                            <p>Which all, morning isn't. Female and own living dry, and morning lesser first he stars under years thing./p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                <div class="blog-post">
                    <div class="blog-post-image">
                        <div>
                            <a><img src="../assets/images/post-4-mid.jpg" alt=""></a>
                            <div class="blog-post-button">
                                <a>DESIGN</a>
                            </div>
                        </div>
                    </div>

                    <div class="blog-post-body">
                        <h5 class="blog-post-title">
                            <a href="">Are you doing the right way?</a>
                        </h5>
                        <div class="blog-post-date">August 14, 2016</div>
                        <div class="blog-post-text">
                            <p>Which all, morning isn't. Female and own living dry, and morning lesser first he stars under years thing./p>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="blog-h-200"></div>

</div>

<!-- End Blogs ------------------------------------------------------------------------ -->
<!-- Start Contact Info --------------------------------------------------------------------- -->
<div class="contact-info">
    <div class="contact-info-h-100"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <h2 class="contact-info-h2">Contact Info:</h2>
                <p class="contact-info-p">
                    Praesent interdum congue mauris, et fringilla lacus pel vitae. Quisque nisl mauris, aliquam eu ultrices vel, conse vitae sapien at imperdiet risus. Quisque cursus risus id. fermentum, in auctor quam consectetur.
                </p>
                <ul class="contact-info-ul">
                    <li>
                        <strong>Address:</strong> 10111 Santa Monica Boulevard, LA
                    </li>
                    <li>
                        <strong>Phone:</strong> +44 987 065 908
                    </li>
                    <li>
                        <strong>Email:</strong> info@Example.com
                    </li>
                    <li>
                        <strong>Fax:</strong> +44 987 065 909
                    </li>
                </ul>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <form action="" class=form-group>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <input type="text" name="" id="" class=form-control placeholder="Your Name"> </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <input type="email" name="" id="" class=form-control placeholder="Your Email"> </div>

                    </div>
                    <div class="form-h-30"></div>

                    <input type="text" name="title" id="" class="form-control" placeholder="Your Title">
                    <div class="form-h-30"></div>

                    <textarea name="" id="" rows="8" class="form-control" placeholder="Your Comment"></textarea>
                    <div class="form-h-30"></div>

                    <button type="submit" class="btn btn-primary form-btn">SEND MESSAGE</button>

                </form>

            </div>



        </div>
    </div>
    <div class="contact-info-h-100"></div>




</div>

<!-- End Contact Info -------------------------------------------- -->
<!-- Start Footer ----------------------------------------------------- -->
<footer class="footer">
    <div class="footer-content">
        <div class="container text-center">
            <div class="footer-social">
                <ul>
                    <li>
                        <a href=""> <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""> <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""> <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""> <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-text">
                <p>2018 &copy; Design by Unvab. Code by Min</p>
            </div>

        </div>

    </div>
</footer>