<div class="best-projects text-center">


  <div class="project">
    <div class="container">
      <h2 class="project-h2">Best Project</h2>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <p class="project-p">Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus. Vestibulum gravida
            volutpat ipsum non ultrices.
          </p>
        </div>
      </div>
      <div class="row project-list ">

        <div class=" col-md-6 col-lg-4 project-item " *ngFor="let project of bestProject">
          <a href="#" class="project-item-link"></a>
          <div class="project-item-images item-image-1" [style.backgroundImage]="getBackgroundImage(project)"></div>
          <div class="project-item-text text-center">
            <div>
              <h2 class="project-item-text-h2">{{ project.h2 }}</h2>
              <div class="project-item-text-catelogy">{{project.div}}</div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bp-h-95"></div>
  </div>

</div>
